<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="mb-4">Bem-vindo à Casa Cultural</h1>
        <div class="d-flex justify-content-center">
            <a href="/filmes/cadastrar" class="btn btn-primary mx-2">Cadastrar Filme</a>
            <a href="/filmes/listar" class="btn btn-secondary mx-2">Listar Filmes</a>
        </div>
    </div>
</body>
</html>
